<div class="container-fluid">
  <div class="row-fluid">
    <%= render 'layouts/sidebar' %>
    <div class='span9'>
      <div class='row-fluid'>
    	<%= render 'layouts/messages' %>

        <%= render 'table_users' %>
      </div>
    </div>
  </div>
  
</div>